= attachment_image_tag @tweet, :image
= @tweet.title
= simple_format @tweet.body
/ simple_formatで入力した内容も改行させる　
- if @tweet.user.id == current_user.id
  = button_to  '編集', edit_tweet_path(@tweet), method: :get
= link_to user_path(@tweet.user) do
  = @tweet.user.username
  さんのページへ
