/ ユーザーの詳細
.user_profile
  .user_profile__show
    .user_profile__show__details
      .user_profile__show__details_image
        = attachment_image_tag @user, :profile_image, fallback: "no-image.png"
        = @user.username
        - if @user.id == current_user.id
          = @user.email
          = button_to  '編集', edit_user_path(@user), method: :get
        = @user.profile

.user_tweet
  - @user.tweets.each do |tweet|
    .user_tweet__lists
      .user_tweet__lists__list
        .user_tweet__lists__list__image
          = attachment_image_tag tweet, :image
          = link_to "詳細", tweet_path(tweet)
          - if @user.id == current_user.id
            = link_to "編集", edit_tweet_path(tweet)
            = link_to "削除", tweet_path(tweet), method: :delete, data: {confirm: "削除しますか？"}
