.main2
  .main2__title
    %h1 Pick Up Tweets
  .main2__tweets
    - @tweets.each do |tweet|
      .main2__tweets__lists
        .main2__tweets__lists_list
          = tweet.title
          .main2__tweets__lists_list__tweet_image
            = link_to tweet_path(tweet) do
              = attachment_image_tag tweet, :image
            

  .main2__user-name
    %h1 Pick Up Users
  .main2__users
    - @users.each do |user|
      .main2__users__lists
        .main2__users__lists__list
          %label.main2__users__lists__list__image
            = link_to user_path(user) do
              = attachment_image_tag user, :profile_image, fallback: "no-image.png"
              .main2__users__lists__list__name    
                = user.username
